.basic-chip {
  padding: 5px 10px;
  border-radius: 50px;
  display: inline-flex;
  margin: 5px;
}

.outline {
  border: 1.5px solid #cccccc;
  color: #d12d2d;
  outline: none;
}
span {
  font-weight: bold;
}
thead tr {
  background-color: #0c233e;
}
